div {
  box-sizing: content-box;
}

p {
  font-size: 0.85rem;
  line-height: 1.25rem;
  margin: 0 0 .5rem;
}

a {
  text-decoration: none;
  font-size: 0.85rem;
  color: black;
}

img {
  max-width: 100%;
}

h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: #437dff;
}

h2 small {
  font-size: 1.25rem;
  color: black;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
}

h4 {
  color: black;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h5 {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 1rem;
}
